<!-- todo_list/todo_app/templates/todo_app/index.html -->

{% extends "base.html" %}
{% block content %}
<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
      text-align: center;

    }
    
    td {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    th {
      background-color: #257da9;
      font-weight: 700;
      color: white;
  }
    
  tr:nth-child(even) {
      background-color: none;
    }
    h4 {
      text-align: center
    }
    </style>
<!--index.html-->
{% if user.is_authenticated %}
{% if object_list %}
<h4>ToDo Tasks</h4>
{% endif %}
{% comment %} <ul>
    {% for todolist in object_list %}
    <li>
        <div
            role="button"
            onclick="location.href='{% url "list" todolist.id %}'">
            {{ todolist.title }}
        </div>
    </li>
    {% empty %}
    <h4>You have no lists!</h4>
    {% endfor %}
</ul> {% endcomment %}
<p >
  <div style="height: 500px; overflow: scroll; margin-bottom: 10%">

    <table>
        <tr>
          <th>Task</th>
          <th>Description</th>
        
        </tr>
        {% for todolist in object_list %}
        <tr>
          <td role="button"
          onclick="location.href='{% url "list" todolist.id %}'">{{ todolist.title }}</td>
          <td role="button"
          onclick="location.href='{% url "list" todolist.id %}'">{{ todolist.description }}</td>
      
        </tr>
        {% empty %}
        <h4 style"margin-left: 30%">You have no lists!</h4>
        {% endfor %}
      </table>
    </div>
    <input
        value="Add a new task"
        type="button"
        style="
    background-color: #257da9;
    border: 1px solid #257da9;
    padding: 7px;
    font-size: 15px;
"
        onclick="location.href='{% url "list-add" %}'"/>
</p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}